@tailwind base;
@tailwind components;
@tailwind utilities;


.bg {
    background-image: url('./bg_space.jpg');
    background-size: cover;
    min-height: 100vh;
    position: relative;
    opacity: 1;
}